/****** Contingut main de pàgina ajuda ******/
.wrapper {
    /* Flex pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.wrapper section h2 {
    /* Flex fill */
    flex-basis: 100%;

    border-top: 3px solid black;
    padding-bottom: 2%;
 }

.wrapper section:nth-of-type(1), .wrapper section:nth-of-type(2) {
    /* Flex Fill */
    flex-basis: 50%;

    /* Flex Pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5%;

}

.wrapper section:nth-of-type(3), .wrapper section:nth-of-type(4) {
    /*Flex fill*/
    flex-basis: 100%;

    /* Flex pare*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.wrapper p {
    /*Flex fill*/
    flex-basis: 100%;

    padding-bottom: 3%;
}
.wrapper img {
    width: 300px;
    height: 300px;
    float: right;
}

.wrapper section iframe {
    width: 50%;
    height: 600px;
    margin: auto;
    margin-bottom: 5%;
}


/****** Efecte Background ******/

#wrapSection {
    width: 100%;
    height: 100vh;
    padding-bottom: 400px;
}

.backgroundParalel {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
.backgroundParalel {
    background-image: url(../imatges/hanjie9.gif);
}
