/****** Pagina congiguració del joc ******/

main p {
    font-size: 1.5em;
    margin-bottom: 2%;
}

main {
    /* Flex pare*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main>h2 {
     /*Flex fill*/
     flex-basis: 100%;

    /* Flex pare*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


main>div {
    /*Flex fill*/
    flex-basis: 33.333%;

    /* Flex pare*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    border: 6px solid black;
    margin: 2%;
    padding: 1%;
    transition: background-color 0.3s ease-out;
}
main>div>input {
    border-radius: 5%;
    border: none;
    border-bottom: solid black;
}


main>button {
    /*Flex fill*/
    flex-basis: 100%;

    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 2%;
	border-bottom: none;
	background-color: #7aadff;
    color: white;
    transition: background-color 0.6s ease-out;
}

/*Transicio boto*/
main>button:hover {
    background-color:#37ce55;
}

/*Transicio de colors en els div*/
main>div:nth-of-type(1):hover {
    background-color:#f14e4e;
}

main>div:nth-of-type(2):hover {
    background-color:#f1bb4e;
}

main>div:nth-of-type(3):hover {
    background-color:#4ef18f;
}
main>div:nth-of-type(4):hover {
    background-color:#9a4ef1;
}
  