/****** Pàgina globalment ******/

@import url('https://fonts.googleapis.com/css?family=Righteous|Varela+Round');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: auto;
    background-color: whitesmoke;
}

main {
    background-color: #e8e8e8;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}

/****** Menu ******/

header {
    /* Flex pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    color: white;
    font-family: 'Righteous', cursive;
    background-color: #b399c4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

header:hover {
    box-shadow: -1px 7px 15px 3px rgba(0, 0, 0, 1);
}

header>h1>img {
    width: 10%;
}

header>nav {
    /* Flex fill */
    flex-basis: 100%;
}

header>nav>ul {
    /* Flex pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
}

header>nav>ul>li a {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 30px;
    text-decoration: none;
    border-radius: 5%;
    color: #5e008e;
    font-weight: bold;
}

header>nav>ul>li:first-child>a {
    background-color: #ffd800;
}

header>nav>ul>li a:hover {
    /*background-color: #7c5ea3;^*/
    color: white;
}

/****** Footer ******/

footer {
    /* Flex pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #b399c4;
    font-family: 'Righteous', cursive;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    min-height: 200px;
    margin: auto;
    height: 200px;
    padding-top: 1%;
}

footer>section:nth-child(1), footer>section:nth-child(2) {
    /* Flex fill */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    /*Flex pare*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer>section:nth-child(1) {
    /* Flex fill */
    flex-basis: 60%;
}

footer>section:nth-child(2) {
    /* Flex fill */
    flex-basis: 40%;
}

footer>section:nth-child(3) {
    /* Flex fill */
    flex-basis: 100%;
    background-color: #7a5f84;
    /* Flex pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

footer section h4 {
    /* Flex fill */
    flex-basis: 15%;
    margin-left: 10px;
}

footer section ul {
    /* Flex fill */
    flex-basis: 85%;
    /* Flex pare */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

footer>section ul li a {
    text-decoration: none;
    font-size: 1.3em;
}

footer>section address {
    font-size: 1em;
}

/* Animació footer */

#special {
    text-align: center;
}

footer #special div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

footer #special div:first-of-type {
    animation: showup 7s infinite;
}

footer #special div:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

footer #special div:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -300px;
    }
    20% {
        margin-left: -300px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 200px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200px;
    }
}